html, body {
  margin: 0;
  padding: 0;
} 

.App {
  text-align: center;
  min-height: 100vh;
  border-radius: 0px;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 245, 245);
}

.nav-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-button {
  color: black;
  font-size: 18px;
  border: lightblue solid 4px;
  background-color: transparent;
  padding: 10px 10px;
  transition: all ease-in-out .3s;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button p {
  margin: 0px;
  font-weight: bolder;
}

.navbar-logo {
  transition: all ease-in-out .3s;
}

.navbar-logo:hover {
  cursor: pointer;
  color: gray;
  transform: scale(1.03);
}

.navbar-button {
  text-decoration: none;
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  font-family: "Proxima Nova", sans-serif !important;
  transition: all ease-in-out .3s;
}

.navigation-button {
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 18px;
  padding: 10px 30px;
  border-right: 2px solid white;
  border-top: none;
  border-left: none;
  border-bottom: none;
  text-align: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: "Proxima Nova", sans-serif !important;
  transition: all ease-in-out .3s;
}

#register-button {
  background-color: black;
}


#register-text {
  color: white;
  filter: brightness(150%);
  font-weight: normal;
  margin: 0;
}

#login-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#login-button:hover span {
  padding-right: 25px;
}

#login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.main-content {
  min-height: calc(100vh - 12rem);
  background-color: #93b7be;
  margin-top: 0px;

}

.footer {
  margin-bottom: 0px;
  height: 400px;

}
.footer-container::before {
  content: "";
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('footer-banner.jpg');
  background-position: center 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .3;
  z-index: 1;
}
.footer-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 12.5rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(140, 154, 158, .2);
}

.footer-text {
  font-size: 12px;
}

#footer-title {
  margin-bottom: -2%;
}

.columns {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;  
}
#column1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  flex-grow: 1;
}

#column2 {
  margin-left: 10vh;
  display: flex;
  flex-direction: column;
}

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #d0eee7;
  }

  /* Set the style of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #81a4e6;
  }

  /* Set the style of the scrollbar thumb when hovered over */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #719ceb;
  }

  ::-webkit-scrollbar-track {
    border: 5px solid white;
	  background-color: #b2bec3;
  }
